/* font link */
body{
    font-family: 'Poppins', sans-serif;
}
/* honda cbr section start */
/* background */
.bg-honda{
    background-color: #264653;
}
.computer-controlled{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
.honda-cbr{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.amet-minim{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 456px;
    height: 72px;
}
.btn-color{
    background-color: #E76F51;
}
/* honda cbr section end */
.bick-2021{
    color:#000000;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}
.best-bike{
    color: #E76F51;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.font-color{
    color:#E76F51;
}
.star-color i{
    color:#E76F51;
}
.rm-color{
    color: #252B42;
}